<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <p>Recipe Name: <input type="text" name="name" value=""/> </p>
      <p>Ingredients: <input type="text" name="ingredients" value=""/> </p>
      <p>Cook Time: <input type="text" name="cook_time" value=""/> </p>
      <input type="submit" name="submit"/>
    </form>
  </body>
</html>
